<style>
    /*GENERAL PAGE STYLES*/

.tan-header-page-wrapper {
    padding-bottom: 0;
}    
.tan-page-title {
    display: none;
}
.basic-page-body {
    background-color: white;
    padding: 0;
}
#pageWrapper {
    max-width: 932px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: max-content;
}
#imageHeader {
    width: 932px;
    max-width: 100%;
}
#filtersHeader {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: -4px;
    background-color: #fff;
    border-bottom: solid 2px rgba(67,115,55,.2);
}
#filtersInstructions {
    width: 89%;
    margin: 0 auto;
    padding: 5% 0 2.5%;
    font-family: 'Trade Gothic W01 Roman', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-size: 17px;
    text-transform: none;
}
#printText {
    color: rgb(153, 51, 22);
    font-family: 'TradeGothicW01-BoldCn20_675334', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-weight: bold;
}
#printText:hover {
    text-decoration: underline;
    cursor: pointer;
}
#filtersBox {
    width: 864px;
    margin: 0 auto;
    height: 170px;
}
#iconKey {
    display: none;
}
#resultsCounter {
    margin-left: 1%;
    top: 2%;
    position: absolute;
}
#recommendText {
    position: absolute;
    bottom: -30%;
    margin-left: 4.5%;
    color: #473F0E;
}
#recommendedLists {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 70px;
}
.filter-box {
    position: relative;
    width: 96px;
    height: 100%;
    display: inline-block;
    margin: 0;
    margin-right: -4px;
}
.filter-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    margin: 0 18px;
    padding: 0;
    background-color: #fff;
    border: 2px outset #ddd;
    box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}
#buttonBox {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 70px;
}
#printList, #clearFilters {
    z-index: 1;
    color: #fff;
    position: absolute;
    width: 95px;
    top: 2%;
    padding: 3% 0;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'TradeGothicW01-BoldCn20_675334', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    /*background-color: rgba(0,0,0,.6);*/
    background-color: #99370e;
    border: 2px solid #99370e;
    border-radius: 3px;
}
#printList {
    right: 160px;
    padding: 3% 0;
}
#clearFilters {
    right: 50px;
    /*padding: .18% 0;*/
}
#printList:hover, #clearFilters:hover {
    cursor: pointer;
    background-color: #c84812;
    border-color: #c84812;
}
button:focus, .filter-button:focus {
    outline: none;
}
.filter-button:hover {
    border-top: 3px solid #aaa;
    border-left: 3px solid #aaa;
    border-right: 3px solid #666;
    border-bottom: 3px solid #666;
}
.btn-active, .filter-button:active {
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    border-right: 3px solid #aaa;
    border-bottom: 3px solid #aaa;
    box-shadow: 0px -1px -1px rgba(0,0,0,.5);
}
.filter-button:hover {
    left: -1px;
    top: -1px;
}
.filter-icon {
    width: 100%;
    height: 100%;
}
.filter-title {
    position: absolute;
    top: 48%;
    font-size: 14px;
    width: 100%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'TradeGothicW01-BoldCn20_675334', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    color: #473F0E;
}
.input-box {
    position: absolute;
    top: 75%;
    width: 26px;
    margin: 0 35px;
}
input[type=checkbox] {
  transform: scale(1.5); 
}
.input:focus {
    outline: none;
}
.attribute-selector {
    -webkit-appearance: none;
    background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	display: inline-block;
	position: relative;
    box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}
.attribute-selector:focus, .attribute-selector:hover {
    outline: none;
}
.attribute-selector:active, .attribute-selector:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.attribute-selector:checked {
	background-color: #fff;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #fff;
}

.attribute-selector:checked:after {
	content: '\2714';
	font-size: 16px;
	position: absolute;
	left: 0px;
    top: -6px;
	color: green;
}
/*.attribute-selector:after {
	content: '\2718';
	font-size: 16px;
	position: absolute;
	left: 0px;
    top: -6px;
	color: red;
}*/



.hide {
    display: none;
}
#resultsDiv {
    height: max-content;
    width: 100%;
    background-color: #fff;
}
.chicken-div {
    display: inline-block;
    position: relative;
    width: 25%;
    min-height: 500px;
    height: max-content;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    clear: both;
}
.chicken-image-box {
    position: absolute;
    top: 0;
    width: 172px;
    height: 130px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0,0, .1);
    margin: 0 10%;
}
.murdochs-top-pick {
    display: block !important;
    width:35%;
    position: absolute;
    left: 3px;
    top: 3px;
}
.top-pick-text {
    display: block !important;
    position: absolute;
    top: -20px;
    width: 147px;
    text-transform: uppercase;
    font-family: 'TradeGothicW01-BoldCn20_675334', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-size: 14px;
}
.chicken-image {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
}
.chicken-icon-box {
    width: 174px;
    margin: 4% 4% 0 -3px;
}
.chicken-icon-div {
    display: inline-block;
    margin: 0 0 0 3px;
}
.chicken-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: transparent;
    box-sizing: border-box;
}
.breed-title {
    position: absolute;
    top: 36%;
    font-size: 17px;
    font-family: 'TradeGothicW01-BoldCn20_675334', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    margin: 3% 0 3% 10% !important;
    padding: 0 !important;
}
.breed-description {
    position: absolute;
    text-align: left;
    top: 43%;
    width: 78%;
    margin: 2% 10%;
    font-family: 'Trade Gothic W01 Roman', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-size: 14px;
    border: none !important;
}
.breed-description > p {
    font-family: 'Trade Gothic W01 Roman', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-size: 14px;
}
ul.breed-bullet-list {
    text-align: left;
    padding: 0 0 0 10%;
    list-style-type: square;
}
li.breed-bullet {
    padding: 2% 0;
    margin-left: 0;
    font-family: 'Trade Gothic W01 Roman', 'Arial Narrow', Tahoma, Geneva, Arial, Sans-Serif;
    font-size: 14px;
}



@media screen and (max-width: 932px) {
    .chicken-div {
        height: 600px;
    }
    .chicken-icon-box {
        top: 19%;
    }
    .breed-title {
        top: 30%;
    }
}

@media screen and (max-width: 750px) {
    .chicken-div {
        width: 49%;
    }
    /*li.breed-bullet {
        display: none;
    }*/
    /*.chicken-icon-box {
        top: 35%;
    }
    .breed-title {
        top: 50%;
    }
    .breed-description > p {
        margin-top: 50%;
    }*/
}

@media screen and (max-width: 350px) {
    .chicken-div {
        width: 40%;
    }
    .chicken-image-box {
        width: 128px;
        height: 95px;
        margin: 0 10%;
    }
    .chicken-icon-box {
        margin: 0 10%;
    }
}

</style>